<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-6">
			<a href="/bidList/list">Bid List</a>&nbsp;|&nbsp;
			<a href="/curvePoint/list">Curve Points</a>&nbsp;|&nbsp;
			<a href="/rating/list">Ratings</a>&nbsp;|&nbsp;
			<a href="/trade/list">Trade</a>&nbsp;|&nbsp;
			<a href="/ruleName/list">Rule</a>
		</div>
		<div class="col-6 text-right">
			<a href="/">Home</a>&nbsp;|&nbsp;<a href="/login">Login</a>
		</div>
	</div>
	<div class="row"><h2>User List</h2></div>
	<div class="row">
		<a href="/patient/add" class="btn btn-primary btn-sm">Add New</a>
		<table class="table table-bordered">
			<thead>
			<tr>
				<th>Id</th>
				<th>first name</th>
				<th>last name</th>
				<th>birthday</th>
				<th>gender</th>
				<th>address</th>
				<th>phone</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="patient : ${patients}">
				<td style="width: 10%" th:text="${patient.id}"></td>
				<td th:text="${patient.firstName}"></td>
				<td th:text="${patient.lastName}"></td>
				<td style="width: 25%" th:text="${patient.birthday}"></td>
				<td th:text="${patient.gender}"></td>
				<td th:text="${patient.address}"></td>
				<td th:text="${patient.phone}"></td>
				<td style="width: 15%" class="text-center">
					<a th:href="@{/patient/update/{id}(id=${patient.id})}">Edit</a>&nbsp;|&nbsp;
					<a th:href="@{/patient/delete/{id}(id=${patient.id})}">Delete</a>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>